:root {
    --primary-color: #333;
    --secondary-color: #444;
    --text-xolor: #fff;
    --span-color: #d68a03;
    --hover-color: #d68a03;
    --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Catamaran', sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
    background-color: var(--secondary-color);
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    line-height: 1.3;
}

a {
    color: #444;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.navbar {
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: var(--primary-color);
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.navbar .logo {
    font-size: 2rem;
    color: var(--text-xolor);
}

span {
    color: var(--span-color);
    font-size: 50px;
    font-style: italic;
}

.span {
    color: var(--span-color);
    font-style: italic;
    text-transform: uppercase;
}

.navbar ul {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: var(--text-xolor);
    padding: 0 1rem;
    transition: all 0.5s ease-in;
}

.navbar a:hover {
    color: var(--hover-color);
    /* border-bottom: 3px solid #333; */
    border-bottom: 5px solid #d68a03;
    padding-bottom: 5px;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
}


.section-a {
    margin: 2rem 0;
}

.section-a .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

.section-a h1 {
    font-size: 4rem;
    color: var(--text-xolor);
}

.section-a p {
    color: var(--text-xolor);
    margin: 1rem 0;
}

.section-b {
    position: relative;
    background: url(/photos/Shoes-bg.jpeg) no-repeat bottom center/cover;
    height: 600px;
}

.section-b-inner {
    color: var(--text-xolor);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}

.section-b-inner h3 {
    font-size: 2rem;
}

.section-b-inner h2 {
    font-size: 4rem;
    margin-top: 1rem;
}

.section-b-inner p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.section-c .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.section-c .gallery a:first-child {
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1/3;
    grid-column: 1/3;
}

.section-c .gallery a:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.section-c .gallery img,
.section-c .gallery a {
    width: 100%;
    height: 100%;
}

.section-footer {
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
}

.section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-footer h3 {
    margin-bottom: 0.7rem;
}

.section-footer a {
    line-height: 1.9;
    color: #ccc;
}

.section-footer a>i {
    color: #555;
    margin-right: 0.5rem;
}

.section-footer a>i:hover {
    color: #d68a03;
}

.email-form {
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
}

.email-form .form-control {
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
}

.email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #eee;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #333;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 30px;
    transition: all 0.5s ease-in;
}

.btn-2 {
    margin-top: 15px;
    background: #ccc;
    color: #000;
}

.btn:hover {
    border-bottom: 5px solid #d68a03;
    background: #ccc;
    /* color: #333; */
    color: #d68a03;
}

.btn-2:hover {
    border-bottom: 5px solid #d68a03;
    background: #333;
    /* color: #ccc; */
    color: #d68a03;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--overlay-color);
}

.section-d {
    position: relative;
    height: auto;
    padding: 15px;
}

.contact {
    /* border: 2px solid black; */
    padding: 15px;
}

.contact-details {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input[type="text"],
[type="number"] {
    display: block;
    margin: 15px;
    padding: 5px;
    padding-left: 15px;
    font-size: 1.5rem;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    border-bottom: 2px solid var(--text-xolor);
    color: var(--span-color);
    transition: all 0.5s ease-in;
    outline: none;
}

input:hover {
    border-bottom: 3px solid #d68a03;
    /* outline: #d68a03; */
    /* transform: ; */
}

input:focus {
    border-bottom: 5px solid var(--hover-color);
}

.TopBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--hover-color);
    /* color: white; */
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

.TopBtn{
    font-size: 15px;
    font-weight: bolder;
    color: var(--primary-color);
}

.TopBtn:hover {
    border: none;
    background-color: var(--primary-color);
    border-bottom: 3px solid #d68a03;
    transition: all 0.5s ease-in;
}

.TopBtn:hover {
    color: var(--hover-color);
}

@media (max-width: 700px) {
    .TopBtn {
        font-size: 10px;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        /* grid-gap: 2rem; */
    }

    .navbar ul {
        justify-self: center;
        font-size: 1.1rem;
    }

    .section-a .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section-a .container div:first-child {
        order: 2;
    }

    .section-a .container div:nth-child(2) {
        order: -1;
    }

    .section-a img {
        width: 80%;
        margin: auto;
    }

    .section-b-inner h2 {
        font-size: 2rem;
    }

    .section-c .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .section-c .gallery a:first-child {
        grid-row: 1/1;
        grid-column: 1/1;
    }

    .section-c .gallery a:nth-child(2) {
        grid-column: 2/4;
        grid-row: 2/2;
    }

    .section-c .gallery a:last-child {
        display: none;
    }

    .section-footer {
        padding: 2rem 0;
    }

    .section-footer .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section-footer div:nth-child(2),
    .section-footer div:nth-child(3) {
        display: none;
    }
}
